*{
    margin: 0;
    padding: 0;
   
   }
   body{
    font-family: 'Merriweather', serif;
}
div{
    display: block;
}
/* new year box */
.container{
    width: 100%;
height: 100vh;
    background: #FFF;
    padding: 30px 80px;

}
.header{
    background:  linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Banner\ Image.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    border-radius: 20px;

text-align: center;
font-size: 35px;
font-weight: 900;
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;


}
.offer{
    color: #F00;
text-align: center;
font-family: 'Open Sans', sans-serif;
 font-family: 'Lato' , sans-serif;
 font-style: normal;
font-size: 40px;
font-weight: 600;

}
.small{
    color: #F00;

text-align: center;
font-family: 'Open Sans', sans-serif;
    font-family: 'Lato' , sans-serif;
font-size: 24px;
font-style: normal;

font-weight: 500;

}
.categories{
    color: #070211;

text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 700;
padding: 10px;

}
.image{
    width: 100%;
height: 80vh;
justify-content: center;

background-position: center;
padding: 50px 50px 130px;
margin: 30px;
background-image: url('../image/New\ Year\ Photo.png');
background-repeat: no-repeat;
}
/* banner */


.banner{
    height: 600px;
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-left: 70px;
   
   text-align: left;
   font-size: 20px;
   font-weight: 900;
   
   }
   .banner-greeting{
       color: #FFF;
       font-family: 'Inter', sans-serif;
       font-family: 'Merriweather', serif;
       font-family: 'Open Sans', sans-serif;
   font-size: 64px;
   font-style: normal;
   font-weight: 900;
   line-height: 88px; /* 137.5% */
   letter-spacing: 7.04px;
   padding: 5px;
   }
   .banner-description{
       color: rgba(255, 255, 255, 0.80);
       font-family: 'Inter', sans-serif;
       font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-weight: 400;
   padding: 10px;
   
   }
   .btn-primary{
     
   
   color: #FFF;
   background-color: #070211;
   border: 0;
   border-radius: 5px;
   text-align: center;
   font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
   padding-left: 30px;
   padding-top: 40px;
   
   }
.section-one{
   background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
   background-repeat: no-repeat;
   justify-content: center;
   background-size: cover;
   margin-top: 70px;
   width: 1320px;
   height: 600px;
   display: block;
   margin-left: 75px;
   border-radius: 20px;
}

.section-title{
   
    color: #070211;
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    
   
        text-align: center;
        padding-top: 200px;
}
    
   

    .btn {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background: #F00;
        border: 0;
        border-radius: 8px;
        margin-top: 25px;
        padding: 11px 23px;
        cursor: pointer; 
    }
 

 .section-two{
    margin-top: 50px;
}
      .portfolio-title{
        color: #F00;
    
        font-family: 'Inter', sans-serif;
        font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 70px;
      }
    .portfolio-heading{
        color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize; 
         margin-left: 70px;
         margin-top: 10px;
    }
    .description{
        color: rgba(7, 2, 17, 0.60);

        font-family: 'Inter', sans-serif;
        font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-left: 70px;
margin-top: 15px;
    }
.img-rec{
    width: 120%;
height: 450px;
border: 100px;
padding-right: 100px;
margin-left: 65px;
margin-top: 20px;
}
.sec-three{
    background-color: rgba(255, 0, 0, 0.05);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    margin-top: 500px;
    width: 1320px;
    height: 600px;
    display: block;
    margin-left: 75px;
    border-radius: 20px;
    
}
.news-heading{
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;


}

.news-description{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-top: 20px;
margin-bottom: 40px;

}
.newsletter-bottom{
    display: flex;
    justify-content: center;
    
}
.newsletter-bottom input{
    display: inline-block;
    height: 35px;
    background: fff;
    padding: 17px 35px;
    border: 0;
    text-align: center;
    border-radius: 35px 0px 0px 35px;
}
.newsletter-btn{
    display: inline-block;
    font-size: 20px;
    font-family: Inter;
    height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #F00;
    border: 0;

    border-radius: 0px 35px 35px 0px;
    padding: 17px 35px;
    cursor: pointer; 

}

.new-img{
    align-items: center;
    width: 150px;
height: 150px;
justify-content: center;
margin-left: 585px;
margin-top: 80px;
margin-bottom: 30px;
}
.bd{
    margin-left: 336px;
    border-radius: 50px 0px 0px 50px;
    width: 648px;
height: 72px;
color: rgba(7, 2, 17, 0.30);
text-align: left;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 80px;
}
.display{
    display: flex;
    width: 648px;
height: 72px;
border-radius: 50px;

}
/*footer*/



footer{
    margin-top: 80px;
    background-color: #070211;
    height: 600px;
    color: azure;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    color: #FFF;

    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
padding-top: 150px;

}
.phone , .website {
    display: flex;
}
.footer-mid{
    text-align: center;
    padding-top: 100px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}